Package: com.tomaszpoliszuk.homescreenquickactions
Depends: firmware (>= 13.0), mobilesubstrate, preferenceloader
Name: Home Screen Quick Actions
Version: 1.6.3
Architecture: iphoneos-arm
Description: Control Home Screen Quick Actions on your device
Homepage: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=homescreenquickactionsDp
Depiction: http://moreinfo.thebigboss.org/moreinfo/depiction.php?file=homescreenquickactionsDp
Maintainer: BigBoss <bigboss@thebigboss.org>
Author: Tomasz Poliszuk
Sponsor: thebigboss.org <http://thebigboss.org>
Section: Tweaks
dev: tomaszpoliszuk
Tag: purpose::extension
Icon: file:///Library/PreferenceBundles/HomeScreenQuickActionsSettings.bundle/icons/HomeScreenQuickActions@3x.png
