{
	CFBundleDevelopmentRegion = "English";
	CFBundleExecutable = "HomeScreenQuickActionsSettings";
	CFBundleIdentifier = "com.tomaszpoliszuk.homescreenquickactions";
	CFBundleInfoDictionaryVersion = "6.0";
	CFBundlePackageType = "BNDL";
	CFBundleShortVersionString = "1.0.0";
	CFBundleSignature = "????";
	CFBundleVersion = "1.0";
	NSPrincipalClass = HomeScreenQuickActionsMainSettings;
}
