(
	"com.apple.AccountAuthenticationDialog",
	"com.apple.ActivityMessagesApp",
	"com.apple.AdPlatformsDiagnostics",
	"com.apple.AdSheetPhone",
	"com.apple.Animoji.StickersApp",
	"com.apple.appleaccount.AACredentialRecoveryDialog",
	"com.apple.AppSSOUIService",
	"com.apple.AskPermissionUI",
	"com.apple.AuthKitUIService",
	"com.apple.AXUIViewService",
	"com.apple.BarcodeScanner",
	"com.apple.BusinessChatViewService",
	"com.apple.carkit.DNDBuddy",
	"com.apple.CarPlaySplashScreen",
	"com.apple.CheckerBoard",
	"com.apple.ClipViewService",
	"com.apple.CloudKit.ShareBear",
	"com.apple.CompassCalibrationViewService",
	"com.apple.Copilot",
	"com.apple.CoreAuthUI",
	"com.apple.CredentialSharingService",
	"com.apple.CTCarrierSpaceAuth",
	"com.apple.ctkui",
	"com.apple.CTNotifyUIService",
	"com.apple.DataActivation",
	"com.apple.datadetectors.DDActionsService",
	"com.apple.DemoApp",
	"com.apple.Diagnostics",
	"com.apple.Diagnostics.Mitosis",
	"com.apple.DiagnosticsService",
	"com.apple.dt.XcodePreviews",
	"com.apple.ENBuddy",
	"com.apple.ENLauncher",
	"com.apple.FacebookAccountMigrationDialog",
	"com.apple.family",
	"com.apple.fieldtest",
	"com.apple.FontInstallViewService",
	"com.apple.FTMInternal",
	"com.apple.FunCamera.EmojiStickers",
	"com.apple.FunCamera.ShapesPicker",
	"com.apple.FunCamera.TextPicker",
	"com.apple.gamecenter.GameCenterUIService",
	"com.apple.GameController",
	"com.apple.HealthENBuddy",
	"com.apple.HealthENLauncher",
	"com.apple.HealthPrivacyService",
	"com.apple.Home.HomeControlService",
	"com.apple.Home.HomeUIService",
	"com.apple.iad.iAdOptOut",
	"com.apple.icloud.apps.messages.business",
	"com.apple.icloud.spnfcurl",
	"com.apple.icq",
	"com.apple.iMessageAppsViewService",
	"com.apple.InCallService",
	"com.apple.ios.StoreKitUIService",
	"com.apple.iosdiagnostics",
	"com.apple.iphoneos.iPodOut",
	"com.apple.Magnifier",
	"com.apple.MailCompositionService",
	"com.apple.managedconfiguration.MDMRemoteAlertService",
	"com.apple.mobilesms.compose",
	"com.apple.mobilesms.notification",
	"com.apple.MusicUIService",
	"com.apple.nike",
	"com.apple.Passbook",
	"com.apple.PassbookSecureUIService",
	"com.apple.PassbookStub",
	"com.apple.PassbookUIService",
	"com.apple.Photos.PhotosUIService",
	"com.apple.PhotosViewService",
	"com.apple.PreBoard",
	"com.apple.PrintKit.Print-Center",
	"com.apple.PublicHealthRemoteUI",
	"com.apple.purplebuddy",
	"com.apple.quicklook.quicklookd",
	"com.apple.RemoteiCloudQuotaUI",
	"com.apple.SafariViewService",
	"com.apple.ScreenSharingViewService",
	"com.apple.ScreenshotServicesService",
	"com.apple.ScreenTimeUnlock",
	"com.apple.ServerDocuments",
	"com.apple.share",
	"com.apple.SharedWebCredentialViewService",
	"com.apple.SharingViewService",
	"com.apple.shortcuts.runtime",
	"com.apple.sidecar",
	"com.apple.sidecar.camera",
	"com.apple.SIMSetupUIService",
	"com.apple.siri",
	"com.apple.siri.parsec.HashtagImagesApp",
	"com.apple.SiriViewService",
	"com.apple.SleepLockScreen",
	"com.apple.smsFilter",
	"com.apple.social.remoteui.SocialUIService",
	"com.apple.social.SLGoogleAuth",
	"com.apple.social.SLYahooAuth",
	"com.apple.Spotlight",
	"com.apple.StoreDemoViewService",
	"com.apple.SubcredentialUIService",
	"com.apple.susuiservice",
	"com.apple.TencentWeiboAccountMigrationDialog",
	"com.apple.TrustMe",
	"com.apple.TVAccessViewService",
	"com.apple.TVRemoteUIService",
	"com.apple.uikit.PrintStatus",
	"com.apple.VSViewService",
	"com.apple.webapp",
	"com.apple.webapp1",
	"com.apple.WebContentFilter.remoteUI.WebContentAnalysisUI",
	"com.apple.WebSheet",
	"com.apple.WebViewService"
)
