{
	title = "Home Screen Quick Actions";
	items = (
		{
			cell = PSSwitchCell;
			key = "enableTweak";
			label = "Enable Tweak";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
			icon = icons/HomeScreenQuickActions.png;
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "UI Style";
		},
		{
			cell = PSSegmentCell;
			default = 999;
			key = "uiStyle";
			label = "UI Style";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
			validValues = (
				999,
				1,
				2
			);
			validTitles = (
				"Default",
				"Light",
				"Dark"
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "Installed Applications (Native)";
		},
		{
			cell = PSSwitchCell;
			key = "appQuickActionDelete";
			label = "Delete App";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appQuickActionShare";
			label = "Share App";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appQuickActionEditHomeScreen";
			label = "Edit Home Screen";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appQuickActionShowAllWindows";
			label = "Show all Windows";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSLinkCell;
			label = "App Specific Quick Actions";
			detail = "HomeScreenQuickActionsApplicationSpecificQuickActions";
		},
		{
			cell = PSGroupCell;
			label = "Installed Applications (Custom)";
		},
		{
			cell = PSSwitchCell;
			key = "appCustomQuickActionShareBundleID";
			label = "Share Bundle ID";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appCustomQuickActionCopyBundleID";
			label = "Copy Bundle ID";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appCustomQuickActionOpenAppInFilza";
			label = "Open App in Filza";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appCustomQuickActionClearBadge";
			label = "Clear Badge";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appCustomQuickActionClearCache";
			label = "Clear App Cache";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appCustomQuickActionReset";
			label = "Reset App";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appCustomQuickActionOffload";
			label = "Offload App";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appCustomQuickActionOpenAppSettings";
			label = "Open App Settings";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Offloaded Applications (Native)";
		},
		{
			cell = PSSwitchCell;
			key = "offloadedAppQuickActionEditHomeScreen";
			label = "Edit Home Screen";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Offloaded Applications (Custom)";
		},
		{
			cell = PSSwitchCell;
			key = "offloadedAppCustomQuickActionShareBundleID";
			label = "Share Bundle ID";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "offloadedAppCustomQuickActionCopyBundleID";
			label = "Copy Bundle ID";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "offloadedAppCustomQuickActionOpenAppInFilza";
			label = "Open App in Filza";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Folders (Native)";
		},
		{
			cell = PSSwitchCell;
			key = "folderQuickActionRemove";
			label = "Remove Folder";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "folderQuickActionEditHomeScreen";
			label = "Edit Home Screen";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "folderQuickActionRename";
			label = "Rename Folder";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "folderQuickActionUnreadNotifications";
			label = "Show Apps with Badges";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Folders (Custom)";
			footerText = "Beta Action Info:
Clear Apps Cache - never shows info about already empty cache
Reset Apps - never shows info that apps were already reset
List Apps In Folder - doesn't show badges";
		},
		{
			cell = PSSwitchCell;
			key = folderCustomQuickActionShareBundleID;
			label = "Share Bundle IDs";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "folderCustomQuickActionCopyBundleID";
			label = "Copy Bundle IDs";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "folderCustomQuickActionClearBadge";
			label = "Clear Badges";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			cellClass = PSSubtitleSwitchTableCell;
			key = "folderCustomQuickActionClearCache";
			label = "Clear Apps Cache";
			cellSubtitleText = "Beta Action";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			cellClass = PSSubtitleSwitchTableCell;
			key = "folderCustomQuickActionReset";
			label = "Reset Apps";
			cellSubtitleText = "Beta Action";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "folderCustomQuickActionOffload";
			label = "Offload Apps";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			cellClass = PSSubtitleSwitchTableCell;
			key = "folderCustomQuickActionAppList";
			label = "List Apps In Folder";
			cellSubtitleText = "Beta Action";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Maximum Apps In List: ";
			key = "folderCustomQuickActionAppListMax";
			default = "6";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Widgets (Native)";
		},
		{
			cell = PSSwitchCell;
			key = "widgetQuickActionRemove";
			label = "Remove Widget";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "widgetQuickActionEditHomeScreen";
			label = "Edit Home Screen";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "widgetQuickActionConfigure";
			label = "Edit Widget";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "widgetStackQuickActionConfigure";
			label = "Edit Stack Widget";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "widgetsInQuickActions";
			label = "Widgets in Quick Actions";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Bookmarks (Native)";
		},
		{
			cell = PSSwitchCell;
			key = "bookmarkQuickActionDelete";
			label = "Delete Bookmark";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "bookmarkQuickActionShare";
			label = "Share Bookmark";
			default = 0;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "bookmarkQuickActionEditHomeScreen";
			label = "Edit Home Screen";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Visible in App Library (Native)";
			key = "visibleinAppLibraryGroup";
		},
		{
			cell = PSSwitchCell;
			key = "appQuickActionAddToHomeScreen";
			label = "Add To Home Screen";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Visible during downloading app (Native)";
		},
		{
			cell = PSSwitchCell;
			key = "appQuickActionPrioritizeDownload";
			label = "Prioritize Download";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appQuickActionPauseDownload";
			label = "Pause Download";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			key = "appQuickActionCancelDownload";
			label = "Cancel Download";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Visible in iPad Dock recents (Native)";
		},
		{
			cell = PSSwitchCell;
			key = "appQuickActionHide";
			label = "Hide App";
			default = 1;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Additional options";
		},
		{
			cell = PSSwitchCell;
			default = 1;
			key = showSeparators;
			label = "Show Separators";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSSwitchCell;
			default = 0;
			key = "reverseQuickActionsOrder";
			label = "Reverse Quick Actions Order";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSLinkCell;
			label = "Rename Actions";
			detail = "HomeScreenQuickActionsRenameSettings";
		},
		{
			cell = PSGroupCell;
			label = " ";
		},
		{
			cell = PSButtonCell;
			label = "Reset Settings";
			action = resetSettings;
			alignment = center;
		},
		{
			cell = PSGroupCell;
			label = "Related Links";
		},
		{
			cell = PSButtonCell;
			label = "Source Code";
			action = sourceCode;
			icon = "icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = "Known Issues";
			action = knownIssues;
			icon = "icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ BigBoss";
			action = TomaszPoliszukAtBigBoss;
			icon = "icons/packages.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Github";
			action = TomaszPoliszukAtGithub;
			icon = "icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Twitter";
			action = TomaszPoliszukAtTwitter;
			icon = "icons/twitter.png";
		},
	);
}
