{
	title = "Home Screen Quick Actions";
	items = (
		{
			cell = PSSwitchCell;
			key = "enableTweak";
			label = "Enable Tweak";
			default = false;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "UI Style";
		},
		{
			cell = PSSegmentCell;
			default = 0;
			key = "uiStyle";
			label = "UI Style";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
			validValues = (
				0,
				1,
				2
			);
			validTitles = (
				"Default",
				"Light",
				"Dark"
			);
			height = 55;
		},
		{
			cell = PSGroupCell;
			label = "Edit Home Screen:";
		},
		{
			cell = PSSwitchCell;
			cellClass = HomeScreenQuickActionsSwitchTableCell;
			key = "quickActionEditHomeScreen";
			label = "Edit Home Screen";
			sublabel = "Global Quick Action";
			default = false;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Title: ";
			key = "quickActionEditHomeScreenTitle";
			default = "";
			placeholder = "Edit Home Screen";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Subtitle: ";
			key = "quickActionEditHomeScreenSubtitle";
			default = "";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Rename:";
		},
		{
			cell = PSSwitchCell;
			cellClass = HomeScreenQuickActionsSwitchTableCell;
			key = "quickActionRenameFolder";
			label = "Rename";
			sublabel = "Folder Quick Action";
			default = false;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Title: ";
			key = "quickActionRenameFolderTitle";
			default = "";
			placeholder = "Rename";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Subtitle: ";
			key = "quickActionRenameFolderSubtitle";
			default = "";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Share App:";
		},
		{
			cell = PSSwitchCell;
			cellClass = HomeScreenQuickActionsSwitchTableCell;
			key = "quickActionShare";
			label = "Share App";
			sublabel = "App Store app Quick Action";
			default = false;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Title: ";
			key = "quickActionShareTitle";
			default = "";
			placeholder = "Share App";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Subtitle: ";
			key = "quickActionShareSubtitle";
			default = "";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Delete App:";
		},
		{
			cell = PSSwitchCell;
			cellClass = HomeScreenQuickActionsSwitchTableCell;
			key = "quickActionDelete";
			label = "Delete App";
			sublabel = "App Store app Quick Action";
			default = false;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Title: ";
			key = "quickActionDeleteTitle";
			default = "";
			placeholder = "Delete App";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Subtitle: ";
			key = "quickActionDeleteSubtitle";
			default = "";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Pause Download:";
		},
		{
			cell = PSSwitchCell;
			cellClass = HomeScreenQuickActionsSwitchTableCell;
			key = "quickActionPauseDownload";
			label = "Pause Download";
			sublabel = "This Quick Action is visible while app is downloading";
			default = false;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Title: ";
			key = "quickActionPauseDownloadTitle";
			default = "";
			placeholder = "Pause Download";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Subtitle: ";
			key = "quickActionPauseDownloadSubtitle";
			default = "";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Cancel Download:";
		},
		{
			cell = PSSwitchCell;
			cellClass = HomeScreenQuickActionsSwitchTableCell;
			key = "quickActionCancelDownload";
			label = "Cancel Download";
			sublabel = "This Quick Action is visible while app is downloading";
			default = false;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Title: ";
			key = "quickActionCancelDownloadTitle";
			default = "";
			placeholder = "Cancel Download";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Subtitle: ";
			default = "";
			key = "quickActionCancelDownloadSubtitle";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Prioritize Download:";
		},
		{
			cell = PSSwitchCell;
			cellClass = HomeScreenQuickActionsSwitchTableCell;
			key = "quickActionPrioritizeDownload";
			label = "Prioritize Download";
			sublabel = "This Quick Action is visible while app is downloading";
			default = false;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Title: ";
			key = "quickActionPrioritizeDownloadTitle";
			default = "";
			placeholder = "Prioritize Download";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Subtitle: ";
			key = "quickActionPrioritizeDownloadSubtitle";
			default = "";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Hide App:";
			footerText = "'Hide App' option is only for devices with floating dock enabled, on stock devices it is enabled only on iPads";
		},
		{
			cell = PSSwitchCell;
			key = "quickActionHideApp";
			label = "Hide App";
			default = false;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Title: ";
			key = "quickActionHideAppTitle";
			default = "";
			placeholder = "Hide App";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Subtitle: ";
			key = "quickActionHideAppSubtitle";
			default = "";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Copy Bundle ID:";
			footerText = "type 'bundleID' to display id of application";
		},
		{
			cell = PSSwitchCell;
			cellClass = HomeScreenQuickActionsSwitchTableCell;
			key = "copyBundleID";
			label = "Copy Bundle ID";
			sublabel = "New App Quick Action";
			default = false;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Title: ";
			key = "copyBundleIDTitle";
			default = "Copy Bundle ID";
			placeholder = "Copy Bundle ID";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSEditTextCell;
			label = "Subtitle: ";
			key = "copyBundleIDSubtitle";
			default = "bundleID";
			placeholder = "bundleID";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Widget:";
		},
		{
			cell = PSSwitchCell;
			cellClass = HomeScreenQuickActionsSwitchTableCell;
			key = "quickActionWidget";
			label = "Widget";
			sublabel = "App Quick Action";
			default = false;
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "Quick Actions Order";
		},
		{
			cell = PSSwitchCell;
			default = false;
			key = "reverseQuickActionsOrder";
			label = "Reverse Quick Actions Order";
			defaults = com.tomaszpoliszuk.homescreenquickactions;
			PostNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
		},
		{
			cell = PSGroupCell;
			label = "App Specific Quick Actions";
			footerText = "Control Quick Actions that belong to specific app";
		},
		{
			bundle = AppList;
			cell = PSLinkCell;
			isController = 1;
			label = "Select App";
			ALSettingsPath = "/var/mobile/Library/Preferences/com.tomaszpoliszuk.homescreenquickactions.plist";
			ALSettingsKeyPrefix = "appSpecificQuickActions-";
			ALChangeNotification = "com.tomaszpoliszuk.homescreenquickactions.settingschanged";
			ALSettingsDefaultValue = 1;
			ALSectionDescriptors = (
				{
					title = "System Applications";
					predicate = "(isSystemApplication = TRUE)";
					"cell-class-name" = "ALSwitchCell";
					"icon-size" = 29;
					"suppress-hidden-apps" = 1;
				},
				{
					title = "User Applications";
					predicate = "(isSystemApplication = FALSE)";
					"cell-class-name" = "ALSwitchCell";
					"icon-size" = 29;
					"suppress-hidden-apps" = 1;
				}
			);
		},
		{
			cell = PSGroupCell;
			label = "Related Links";
		},
		{
			cell = PSButtonCell;
			label = "Source Code";
			action = sourceCode;
			icon = "/Library/PreferenceBundles/HomeScreenQuickActionsSettings.bundle/icons/code.png";
		},
		{
			cell = PSButtonCell;
			label = "Report Issue @ GitHub";
			action = reportIssueAtGithub;
			icon = "/Library/PreferenceBundles/HomeScreenQuickActionsSettings.bundle/icons/bug.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Github";
			action = TomaszPoliszukAtGithub;
			icon = "/Library/PreferenceBundles/HomeScreenQuickActionsSettings.bundle/icons/github.png";
		},
		{
			cell = PSButtonCell;
			label = "Tomasz Poliszuk @ Twitter";
			action = TomaszPoliszukAtTwitter;
			icon = "/Library/PreferenceBundles/HomeScreenQuickActionsSettings.bundle/icons/twitter.png";
		}
	);
}
